@media screen and (min-width: 1201px) {
    .searchbar_div {
      margin-top: 1.5%;
      margin-bottom: 1.5%;
      border: 2px solid #c7c7c7;
      border-radius: 10px;
      display: flex;
      overflow: hidden;
      max-height: 50px;
    }
  
    .onlyicon {
      display: none;
    }

    .figure_promoted_profile {
      margin-inline: 8%;
    }

    .categories_wrapper {
      margin-inline: 20%;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .searchbar_div {
      display: none;
      width: 0;
      height: 0;
    }

    .categories_wrapper {
      margin-inline: 7%;
    }
}

@media screen and (min-width: 1000px) {
    .trending_page_listings {
        margin-inline: 17%;
    }
}

@media screen and (min-width: 400px) {
    .onlyicon {
        margin-bottom: 40%;
    }

  }


/* CSS GRID */

@media (min-width: 55em) { 
  .myprofile_settings {
    grid-column: span 2;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 5%;
  }

  main div:first-of-type {
    grid-row: span 2;
  }

  /* index pagina */

  .body_grid {
    grid-template-columns: 45% 55%;
    grid-template-areas: 
    "images textbox1"
    "images textbox2"
    "trending1 trending1"
    "trending2 trending2"
    "trending3 trending3"
    "reviews reviews";
  }
  
}

@media (max-width: 54.9em) {
  header {
    position: sticky;
    top:0;
    border-radius: 0px;
    background-color: white;
    margin: 0;
    box-shadow: none;
  }

  .index_box1 {
    margin-top: 2%;
  }

  .body_grid {
    grid-template-areas: 
    "textbox1"
    "images"
    "textbox2"
    "trending1"
    "trending2"
    "trending3"
    "reviews"
    
  }

  .home-trending img:nth-last-child(-n+4){
    display: none;
  }

  .home-listing {
    width: 22%;
  }

  .left {
    display: none;
  }

  .header_left_mobile {
    display: flex;
  }

  .reviews_ratings section:last-of-type {
    display: none;
  }

  .reviews section {
    width: 50%;
  }

  .reviews_ratings {
    justify-content: space-around;
  }

  .reviews h3 {
    margin-top: 1%;
  }
}

