@media screen and (min-width: 1201px) {
    .searchbar_div {
      margin-top: 1.5%;
      margin-bottom: 1.5%;
      border: 2px solid #c7c7c7;
      border-radius: 10px;
      display: flex;
      overflow: hidden;
      max-height: 50px;
    }
  
    .onlyicon {
      display: none;
    }

    .categories_wrapper {
      margin-inline: 20%;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .searchbar_div {
      display: none;
      width: 0;
      height: 0;
    }

    .categories_wrapper {
      margin-inline: 7%;
    }
}

@media screen and (min-width: 1000px) {
    .trending_page_listings {
        margin-inline: 17%;
    }
}

@media screen and (min-width: 400px) {
    .onlyicon {
        margin-bottom: 40%;
    }

  }


/* CSS GRID */

@media (min-width: 55em) { 
  .myprofile_settings {
    grid-column: span 2;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 5%;
  }

  main div:first-of-type {
    grid-row: span 2;
  }

  /* index pagina */

  .body_grid {
    grid-template-columns: 45% 55%;
    grid-template-areas: 
    "images textbox1"
    "images textbox2"
    "trending1 trending1"
    "trending2 trending2"
    "trending3 trending3"
    "reviews reviews";
  }
  
}

@media (max-width: 54.9em) {
  header {
    position: sticky;
    top:0;
    border-radius: 0px;
    background-color: white;
    margin: 0;
    box-shadow: none;
  }

  .index_box1 {
    margin-top: 2%;
  }

  .body_grid {
    grid-template-areas: 
    "textbox1"
    "images"
    "textbox2"
    "trending1"
    "trending2"
    "trending3"
    "reviews"
    
  }

  .home-trending img:nth-last-child(-n+4){
    display: none;
  }

  .home-listing {
    width: 22%;
  }

  .left {
    display: none;
  }

  .header_left_mobile {
    display: flex;
  }

  .reviews_ratings section:last-of-type {
    display: none;
  }

  .reviews section {
    width: 50%;
  }

  .reviews_ratings {
    justify-content: space-around;
  }

  .reviews h3 {
    margin-top: 1%;
  }

  
  .header_left_mobile .dropdown_mobile_toggle{
    display: none;
  }

  .support_border {
    flex-direction: column;
    align-items: center;
  }

  .left_support{
    width: 100%;
    padding-left: 50%;
  }

  .support_icons {
    width: 10%;
  }

  .support_adress {
    margin-top: 5%;
  }

  .name_email {
    flex-direction: column;
  }

  .name_email div:first-of-type {
    margin-bottom: 5%;
  }

  .name_email div {
    display: flex;
    flex-direction: column;
    padding-right: 9%;
  }

  .body_grid_trending {
    margin-inline: 0px;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-inline: 1vw
  }

  .figure_promoted_profile{
    grid-column: span 2;
  }

  .filter_div {
      grid-column: span 2;
      margin-inline: 0;
      width: 95%;
      margin-left: 1.5%;
   }

  .page_selector{
      grid-column: span 2;
  }

  .trending_listing{
    width: 45vw;
    height: auto;
  }

  .trending_listing_previewalbum{
    width: 45vw;
    height: auto;
  }

  .filter_select{
    font-size: 2.25vw;
    margin: 0;
    margin-right: 10px;
  }

  .figcaption_profile {
  font-size: 3vw;
  }

  .body_grid_categories {
    margin-inline: 5px;
  }

  .categories_category figure {
    margin: 1vw;
  }

  .categories_category img {
    width: 35vw;
  }

  .categories_category figure:nth-last-child(-n+2) {
    display: none;
  }

  .figure_promoted_profile figure:nth-last-child(-n+2) {
    display: none;
  }
}

@media (max-width: 500px){

  .filter_select{
    margin: 0;
  }

}